body {
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
    font-size: 30px;

}
.wraper {
    background-color: white;
    max-width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: solid 2px rgb(12, 71, 17);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient( white, rgb(180, 245, 180));
}

.wraper_message {
height: 500px;
padding: 35px;
overflow-y: auto;
display: flex;
flex-direction: column;
align-items: center;

}
.wraper_input {
    height: 200px;
    border-top: solid 2px rgb(12, 71, 17);
    display: flex;
    padding: 35px;
    align-items: center;
    justify-content: space-between;
    
}
.message {
    width: 400px;
    min-height: 80px;
    border: solid 2px rgb(12, 71, 17);
    font-size: 14px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    position: relative;

}
.message::after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    top: 5px;
    right: 4px;
    cursor: pointer;
}
.wraper_input_input {
    padding: 10px;
    border:solid 2px rgb(12, 71, 17);
    height: 100px;
    width: 300px;
    border-radius: 10px;
    font-size: 17px;
    transition: 0.2s ease;
}
.wraper_input_button {
    height: 100px;
    width: 100px;
    border: solid 2px #000;
    border-radius: 10px;
    background-color: rgb(30, 75, 39);
    cursor: pointer;
    transition: 0.2s ease;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}
.wraper_input_button:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
    color: rgb(30, 75, 39);
}
.wraper_input_input:focus {
    transform: scale(1.1);
    box-shadow: 0px 10px 10px #000;
}